<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <!-- Google fonts -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="https://img.icons8.com/external-smashingstocks-outline-color-smashing-stocks/256/external-notepad-shopping-and-commerce-smashingstocks-outline-color-smashing-stocks.png">
</head>

<body>
    